@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
    --primary-color: #00abf0;
    --primary-color-dark: #ededed;
    --secondary-color: #ededed;
    ;

    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #faf5ff;

    --primary-background-color: #081b29;;
    --secondary-background-color: #0c2c42;

    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
}

.more-btn {
    display: inline-block;
    padding: 8px 16px;
    background: var(--primary-color);
    color: var(--text-dark);
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-background-color);
    z-index: 99;
}

.nav--container {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;}

nav .logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    align-self: flex-start;
}

nav .logo a:hover {
    color: var(--primary-color-dark);
}

#sidebar-toggle {
    display: none;
}

.sidebar-checkbox {
    display: none;
}

.sidebar-checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

.nav-links--container {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.nav-links--container li a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: 600;
    color: var(--secondary-color);
}

.nav-links--container li a:hover {
    color: var(--primary-color);
}

.home {
    background-color: var(--extra-light);
}

.home--container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.home--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero--subtitle {
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.hero--title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.hero--title span {
    font-weight: 600;
}

.hero--links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.hero--links a {
    padding: 0 10px 0 0;
    text-decoration: none;
    color: var(--text-dark);
    white-space: nowrap;
}

.hero--links a:hover {
    color: var(--primary-color);
}

.hero--txt {
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
    min-height: 200px;
}

.image {
    display: grid;
    place-items: center;
}

.image img {
    width: min(25rem, 90%);
    border-radius: 100%;
}

.hero-socials {
    position: relative;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.hero-socials a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: var(--primary-background-color);
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--secondary-color);
    text-decoration: none;
    overflow: hidden;
}

.portfolio {
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

.portfolio--container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio--detail {
    width: 325px;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}

.portfolio--detail img {
    width: 100%;
    height: auto;
}

.portfolio--content {
    padding: 16px;
}

.portfolio--content h3 {
    font-size: 28px;
    margin-bottom: 8px;
}

.portfolio--content p {
    font-size: 16px;
    line-height: 1.3;
}

@media (width < 750px) {
    .sidebar-checkbox {
        display: block;
    }

    .nav-links--container {
        position: fixed;
        top: 85px;
        right: -100%;
        height: calc(100vh - 85px);
        width: 300px;

        background-color: var(--secondary-background-color);
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 3rem;

        transition: 0.3s ease-out;
        z-index: 10;
    }

    #sidebar-toggle:checked ~ .nav-links--container {
        right: 0;
    }

    #sidebar-toggle:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    .nav-links--container li a {
        font-size: 1.25rem;
    }

    .home--container {
        padding: 10rem 1rem 5rem 1rem;
        grid-template-columns: repeat(1, 1fr);
    }

    .image {
        display: none;
        /*grid-area: 1/1/2/2;*/
    }

}